#menu {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.menu-container {
    display: flex;
    flex-flow: row;
}

.menu-item {
    margin: 0.5em;
    padding: 3em;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 35%;
    min-height: 35%;
    text-decoration: none;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
}

.menu-main, .menu-main:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}